.monitors {
  .card {
    min-height: 19vw;
    padding: 2rem 0.5vw 0 0.5vw;

    .monitor {
      margin: 0 auto;
    }

    input[type=number].browser-default {
      width: 38px;
      background: transparent;
      border: 1px solid transparent;
      color: white;
      -moz-appearance: textfield;

      &::-webkit-outer-spin-button, &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:hover, &:focus {
        border-color: #333;
      }

      &:focus {
        outline: 0;
        background: #777;
      }
    }
  }

  .badge {
    position: absolute;
    left: 0;
    top: 0;
    margin: 0;
  }

  .delete-icon {
    position: absolute;
    right: 0;
    top: 0;
    margin: 0;
    cursor: pointer;
    color: #B71C1C;

    &:hover {
      color: #ff1744;
    }
  }

  .add-monitor {
    --color: #ddd;
    border: 1rem dashed var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    cursor: pointer;
    overflow: hidden;

    &:hover {
      --color: #ccc;
    }

    .plus-sign {
      color: var(--color);
      font-weight: bold;
      font-size: 10rem;
      margin-top: -30px;
      line-height: 0;
    }
  }
}
